	<div class="footer">
		<div class="container">
			<span class="copyright pull-right">© 2016 Acme, Inc.</span>
			<ul class="links">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>  
  </body>
  <script src="/bootstrap/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/bootstrap/dist/js/bootstrap.min.js"></script>
</html>