<% include header %>

<div class="page" style="margin-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="page-header">Forgot your password?</h1>
                <form action="">
                    <filedset>
                        <div class="form-group">
                            <label class="control-label">What's your email?</label>
                            <input type="text" autocapitalize="off" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Send reset</button>
                            <a href="/login" class="btn btn-link">Back to login</a>
                        </div>
                    </filedset>
                </form>
            </div>
        </div>
    </div>
</div>

<% include footer %>