<% include header %>


<div class="page" style="margin-top: 20px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-6" id="app-mount">
				<section data-reactroot>
					<h1 class="page-header">Sign up</h1>
					<form>
						<filedset>
							<div class="form-group">
								<label class="control-label">Name</label>
								<input type="text" autocapitalize="off" class="form-control" name="name">
							</div>
							<div class="form-group">
								<label class="control-label">Email</label>
								<input type="text" autocapitalize="off" class="form-control" name="email">
							</div>
							<div class="form-group">
								<label class="control-label">Username</label>
								<input type="text" autocapitalize="off" class="form-control" name="user">
							</div>
							<div class="form-group">
								<label class="control-label">Password</label>
								<input type="text" autocapitalize="off" class="form-control" name="password">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Create my account</button>
							</div>
						</filedset>
					</form>
				</section>
			</div>
			<div class="col-sm-6">
				<h1 class="page-header">Campy benefits</h1>
				<p class="lead">Really, you will love it inside. It's super great!</p>
				<i class="fa fa-thumbs-o-up bamf"></i>
			</div>
		</div>
	</div>
</div>


<% include footer %>